<div id="<%= dom_id sensor %>">
  <% if list %>
      <tr>
        <td><%= sensor.id%></td>
        <td style="text-align: right;"><%= sensor.identifier %></td>
        <td><%= sensor.service_endpoint %></td>
        <td><%= link_to "Show", sensor %></td>
      </tr>
  <% else %>
      <p>
        <strong>ID:</strong>
        <%= sensor.id %>
      </p>

      <p>
        <strong>Identifier:</strong>
        <%= sensor.identifier %>
      </p>

      <p>
        <strong>Service endpoint:</strong>
        <%= sensor.service_endpoint %>
      </p>

      <p>
        <strong>Additional information:</strong>
        <%= sensor.add_info %>
      </p>

      <p>
        <img src="<%= "data:image/png;base64," + Base64.strict_encode64(Barby::QrCode.new({"sensor-id": sensor.sensor_id, "serviceEndpoint": sensor.service_endpoint}.to_json, level: :q, size: 8).to_png({ xdim: 8 })).html_safe %>">
      </p>
  <% end %>
</div>
